@theme {
  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    from { background-position: 0 0; }
    to { background-position: -200% 0; }
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}